In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [26]:
df.dtypes

Person ID                    int64
Gender                      object
Age                          int64
Occupation                  object
Sleep Duration             float64
Quality of Sleep             int64
Physical Activity Level      int64
Stress Level                 int64
BMI Category                object
Blood Pressure              object
Heart Rate                   int64
Daily Steps                  int64
Sleep Disorder              object
dtype: object

In [27]:
df["Blood Pressure"].unique()

array(['126/83', '125/80', '140/90', '120/80', '132/87', '130/86',
       '117/76', '118/76', '128/85', '131/86', '128/84', '115/75',
       '135/88', '129/84', '130/85', '115/78', '119/77', '121/79',
       '125/82', '135/90', '122/80', '142/92', '140/95', '139/91',
       '118/75'], dtype=object)

In [28]:
# 90/60 - 120/80 -> normal
# < 90/60 --> rendah
# > 120/60 -- hipertensi

encoding = {'126/83':'Hipertensi', '125/80':'Hipertensi', '140/90':'Hipertensi', '120/80':'Normal', '132/87':'Hipertensi', '130/86':'Hipertensi',
       '117/76':'Normal', '118/76':'Normal', '128/85':'Hipertensi', '131/86':'Hipertensi', '128/84':'Hipertensi', '115/75':'Normal',
       '135/88':'Hipertensi', '129/84':'Hipertensi', '130/85':'Hipertensi', '115/78':'Normal', '119/77':'Normal', '121/79':'Normal',
       '125/82':'Hipertensi', '135/90':'Hipertensi', '122/80':'Normal', '142/92':'Hipertensi', '140/95':'Hipertensi', '139/91':'Hipertensi',
       '118/75':'Normal'}

df['Blood Pressure Encoded'] = df['Blood Pressure'].replace(encoding)
df.to_csv("Sleep health clean.csv", index=False)

In [29]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Blood Pressure Encoded
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,Hipertensi
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,Hipertensi
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,Hipertensi
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,Hipertensi
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,Hipertensi

In [30]:
df_clean = pd.read_csv("Sleep health clean.csv")
df_clean.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Blood Pressure Encoded
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,Hipertensi
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,Hipertensi
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,Hipertensi
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,Hipertensi
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,Hipertensi

In [31]:
df_clean['Blood Pressure Encoded'].unique()

array(['Hipertensi', 'Normal'], dtype=object)